<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Groupie Tracker</title>
    <link rel="stylesheet" href="/assets/static/artist.css" />
    <link rel="icon" type="image/x-icon" href="/assets/static/favicon/casque.ico">
</head>
<body>
    <header class="page-header">
        <h1>{{.Name}}</h1>
        <div class="underline"></div>
        <button class="return" onclick="window.location.href='/artist/'">
            <span class="arrow-text">RETURN TO<br>THE LIST</span>
        </button>
    </header>

    <div class="main-layout">
        <div class="artist-image">
            <img src="{{.Image}}" alt="{{.Name}}">
        </div>

        <div class="middle-side">
            <div class="info-card">
                <div class="card-header">HISTORY</div>
                <div class="card-content">
                    <div class="info-field">Creation date : {{.CreationDate}}</div>
                    <div class="info-field">First album : {{.FirstAlbum}}</div>
                </div>
            </div>

            <div class="member-card">
                <div class="member-card-header">Members</div>
                <div class="member-card-content">
                    {{range .Members}}
                    <div class="member-field">{{.}}</div>
                    {{end}}
                </div>
            </div>
        </div>

        <div class="concert-side">
            <div class="concert-card">
                <div class="concert-card-header">Concert dates</div>
                <div class="concert-card-content">
                    {{range $key, $value := .Relation.DatesLocations}}
                    <div class="concert-field">
                        <div class="concert-location">{{$key}}</div>
                        <div class="concert-dates">
                            {{range $i, $element := $value}}
                            <span class="concert-date">{{$element}}</span>
                            {{end}}
                        </div>
                    </div>
                    {{end}}
                </div>
            </div>
        </div>
    </div>
</body>
</html>