<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Groupie Tracker</title>
        <link rel="stylesheet" href="/assets/static/artistlist.css" />
        <link rel="icon" type="image/x-icon" href="/assets/static/favicon/casque.ico">
    </head>
    <body>
        <div class="header">
            <div class="title-container">
                <h1 onclick="window.location.href='/'">Groupie Tracker</h1>
            </div>

            <datalist id="suggestions-dl">
                {{range .For_Search.Artists}}
                    <option value="{{.Name}}" data-type="Name">Name</option>
                {{end}}
                {{range .For_Search.Artists}}
                    <option value="{{.FirstAlbum}}" data-type="First Album">First Album</option>
                    <option value="{{.CreationDate}}" data-type="Creation Date">Creation Date</option>
                    {{range .Members}}
                        <option value="{{.}}" data-type="Member">Member</option>
                    {{end}}
                {{end}}
                {{range .For_Search.Locations}}
                    {{range .Locations}}
                        <option value="{{.}}" data-type="Location">Location</option>
                    {{end}}
                {{end}}
            </datalist>

            <div class="search-bar">
                <form action="/search" method="get">
                    <input type="text" name="Search" id="search" placeholder="Search..." list="suggestions-dl">
                    <button type="submit">Search</button>
                </form>
            </div>
            
            <div class="option-icon" onclick="toggleSearchModal()">
                <img src="/assets/static/image/option.png" alt="menu">
            </div>
        </div>

        <div id="overlay" class="overlay">
            <div class="modal">
                <form action="/search" method="get">
                    <input type="text" name="Search" placeholder="Search..." list="suggestions-dl">
                    <button type="submit">Search</button>
                </form>
            </div>
        </div>  


        <div class="artists-container">

            {{if not .To_Display.Artists}}
                <div class="placeholder-container">
                    <div class="placeholder-content">
                        <h3>No artist found</h3>
                        <div class="placeholder-image">
                            <img src="/assets/static/image/loupe.png" alt="micro">
                        </div>
                        <button class="return" onclick="window.location.href='/artist/'">
                            <span class="arrow-text">RETURN TO<br>THE LIST</span>
                        </button>
                    </div>
                </div>
            {{end}}

            <div class="artists-grid">
                {{range .To_Display.Artists}}
                <div class="artist-card" onclick="window.location.href=('/artist/{{.Id}}')">
                    <div class="artist-image">
                        <img src="{{.Image}}" alt="{{.Name}}" style="width: 100%; height: 100%; object-fit: cover; border-radius: 10px;">
                    </div>
                    <div class="artist-info">
                        <h3>{{.Name}}</h3>
                    </div>
                </div>
                {{end}}
            </div>
        </div> 

        <script src="/assets/static/js/overlay.js"></script>
        <script src="/assets/static/js/datalist-switch.js"></script>
        <script src="/assets/static/js/display.js"></script>
</body>
</html>